<launch>
    <!-- Launch the frontier_server from uav_frontier_exploration_3d package -->
    <include file="$(find uav_frontier_exploration_3d)/launch/frontier_server.launch" />

    <!-- Launch the perception_pipeline node -->
    <include file="$(find perception)/launch/perception_pipeline.launch" />
</launch>

