<launch>

    <!-- Explore_lite package-->
  <node pkg="explore_lite" type="explore" respawn="false" name="explore" >
    <param name="robot_base_frame" value="body"/>
    <param name="costmap_topic" value="map"/>
    <param name="visualize" value="true"/>
    <param name="planner_frequency" value="0.1"/>
    <param name="progress_timeout" value="15.0"/>
    <param name="orientation_scale" value="0.0"/>
    <param name="gain_scale" value="1.0"/>
    <param name="transform_tolerance" value="0.3"/>
    <param name="min_frontier_size" value="0.75"/>
  </node>

    <!-- Move_base algorithm-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <rosparam file="$(find nav2d_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find nav2d_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> 
    <rosparam file="$(find nav2d_pkg)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav2d_pkg)/config//global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find nav2d_pkg)/config/base_local_planner_params.yaml" command="load" />
 
    <remap from="odom" to="current_state_est" />
    
  </node>



</launch>
