<launch>

    <arg name="depth_image_raw" value="/realsense/depth/image"/>  <!--raw depth image-->
    <arg name="depth_image_info" value="/realsense/depth/camera_info"/>  <!--depth image camera info-->
    <arg name="depth_image_rect" value="/realsense/depth/image_rect"/> <!--rect depth image-->
    <arg name="pointcloud_out" value="/perception/pcl/out"/> <!--pcl output topic-->


    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <!-- first rectify the depth image -->
    <node pkg="nodelet" type="nodelet" name="rectify_depth"
          args="load image_proc/rectify  standalone_nodelet --no-bond"
          respawn="true">
      <remap from="image_mono"  to="$(arg depth_image_raw)" />
      <remap from="camera_info"  to="$(arg depth_image_info)"/>
      <remap from="image_rect"  to="$(arg depth_image_rect)"/>
    </node>

 
      <!-- Construct point cloud of the depth topics -->

    <node pkg="nodelet" type="nodelet" name="points_xyz" args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond">
        <remap from="camera_info" to="$(arg depth_image_info)" />  
        <remap from="image_rect" to="$(arg depth_image_rect)"/>  
        <remap from="points" to="$(arg pointcloud_out)"/>
    </node> 
 

</launch>